<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Given</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <script src="{% static 'js/home.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{% url 'given_home' %}"><img src="{% static 'images/logoK.png' %}" alt="기븐 로고"/></a>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'given_heart' %}">마음으로 기부하기</a></li>
          <li><a href="{% url 'given_money' %}">돈으로 기부하기</a></li>
          <li><a href="{% url 'given_mypage' %}"><img src="{% static 'images/mypage.png' %}" alt="마이페이지 아이콘"/></a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="main">
        <section class="intro">
          <section class="intro_01">
            <h2>당신의 작은 손길이,</h2>
          </section>
          <img src="{% static 'images/sprout.png' %}" alt="새싹 일러스트" />
          <section class="intro_02">
            <h2>큰 희망을 심습니다.</h2>
          </section>
        </section>
        <section class="banner"></section>
      </div>
      <div id="esg">
        <section id="esg_background"></section>
        <section class="esg_title ani">
          <h2>ESG란?</h2>
        </section>
        <section class="esg_text ani_delay" data-delay="0.3">
          <p>
            기업 경영의 비재무적인 목적으로 제시되고 있는 ESG,<br />
            개인 또한 충분히 실천할 수 있다는 사실을 알고 계신가요?
          </p>
        </section>
        <section class="esg_circle ani_delay" data-delay="0.6">
          <section class="circle">
            <section class="circle_title">
              <h2>E</h2>
            </section>
            <section class="circle_text">
              <h3>Environmental (환경)</h3>
              <p>경영 과정에서 <br />환경에 미치는 영향</p>
            </section>
          </section>
          <section class="circle">
            <section class="circle_title">
              <h2>S</h2>
            </section>
            <section class="circle_text">
              <h3>Social (사회)</h3>
              <p>기업이 마땅히 지켜야 할 <br />사회적 책임</p>
            </section>
          </section>
          <section class="circle">
            <section class="circle_title">
              <h2>G</h2>
            </section>
            <section class="circle_text">
              <h3>Governance (지배구조)</h3>
              <p>경영의 투명성</p>
            </section>
          </section>
        </section>
      </div>
      <div id="given">
        <section class="given_title ani2">
          <h2>GIVEN이란?</h2>
        </section>
        <section class="given_square">
          <section class="square ani2_delay" data-delay="0.3">
            <section class="square_text">
              <p>
                다양한 기부 단체들을 <br />
                한 눈에 모아볼 수 있습니다.<br />
                어려움에 처한 이웃을 도와주세요.
              </p>
            </section>
            <section class="square_img">
              <img src="{% static 'images/earth.png' %}" alt="지구 일러스트" />
            </section>
          </section>
          <section class="squarebehind">
            <h2>Given</h2>
          </section>
          <section class="square2 ani2_delay" data-delay="0.6">
            <section class="square2_text">
              <p>
                소중한 마음을 나눠주세요.<br />
                하루 한 번, 정성을 담아 숲을 키우고<br />
                기븐과 함께 기부할 수 있습니다.
              </p>
            </section>
            <section class="square2_img">
              <img src="{% static 'images/forest.png' %}" alt="숲 일러스트" />
            </section>
          </section>
        </section>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
