<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Given</title>
{% load static %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/mypage.css' %}" />
    <script src="{% static 'js/mypage.js' %}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'given_home' %}"><img src="{% static 'images/logoK.png' %}" alt="기븐 로고"/></a>
          </div>
          <nav>
            <ul>
                <li><a class="nav_heart" href="{% url 'given_heart' %}">마음으로 기부하기</a></li>
                <li><a class="nav_money" href="{% url 'given_money' %}">돈으로 기부하기</a></li>
                <li><a href="{% url 'given_mypage' %}"><img src="{% static 'images/mypage2.png' %}" alt="마이페이지 아이콘"/></a></li>
            </ul>
          </nav>
    </header>
    <main>
        <div id="my">
            <section class="menu">
                <ul>
                    <li><a>내 정보 수정</a></li>
                    <li><a>내 댓글 관리</a></li>
                    <li><a>문의</a></li>
                    <li><a>공지사항</a></li>
                </ul>
            </section>
            <section class="con">
                <section class="profile">
                    <section class="profile_img">
                        <img src="{% static 'images/profile.png'%}" alt="프로필 아이콘"> 
                    </section>
                    <section class="profile_txt">
                        <h2><strong>홍길동</strong> 님 안녕하세요.</h2>
                        <p>로그아웃</p>
                    </section>
                </section>
                <section class="list">
                    <section class="list_menu">
                        <ul>
                            <li id="rece_tab">최근 본 목록</li>
                            <li id="like_tab">찜한 목록</li>
                        </ul>
                    </section>
                    <section class="rece_con">
                        <section class="card">
                            <img src="{% static 'images/초록우산.jpg' %}">
                        </section>
                        <section class="card">
                            <img src="{% static 'images/세이브더칠드런.jpg' %}">
                        </section>
                        <section class="card">
                            <img src="{% static 'images/nowgive.png' %}">
                        </section>
                    </section>
                    <section class="like_con">
                        <section class="file">
                            <section class="file_titlecon">
                                <h2>목록명</h2>
                                <img src="{% static 'images/arrow.png'%}" alt="토글 버튼" class="toggle_btn">
                            </section>    
                            <section class="file_cardcon">
                                <section class="file_card">
                                    <img>
                                </section>
                                <section class="file_card">
                                    <img>
                                </section>
                                <section class="file_card">
                                    <img>
                                </section>
                            </section>
                        </section>
                        <section class="file">
                            <section class="file_titlecon">
                                <h2>목록명</h2>
                                <img src="{% static 'images/arrow.png'%}" alt="토글 버튼" class="toggle_btn">
                            </section>    
                            <section class="file_cardcon">
                                <section class="file_card">
                                    <img>
                                    <h3>기부재단명</h3>
                                </section>
                                <section class="file_card">
                                    <img>
                                    <h3>기부재단명</h3>
                                </section>
                                <section class="file_card">
                                    <img>
                                    <h3>기부재단명</h3>
                                </section>
                            </section>
                        </section>
                        <section class="file">
                            <section class="file_titlecon">
                                <h2>목록명</h2>
                                <img src="{% static 'images/arrow.png'%}" alt="토글 버튼" class="toggle_btn">
                            </section>    
                            <section class="file_cardcon">
                                <section class="file_card">
                                    <img>
                                    <h3>기부재단명</h3>
                                </section>
                                <section class="file_card">
                                    <img>
                                    <h3>기부재단명</h3>
                                </section>
                                <section class="file_card">
                                    <img>
                                    <h3>기부재단명</h3>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </div>
    </main>
    <footer>
      
    </footer>
</body>
</html>