#intro {
  display: flex;
  flex-direction: column;
  margin: 180px 0 30px 0;
  padding: 30px 0;
  text-align: center;
  justify-content: center;
  height: auto;
}

#intro h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

#intro p {
  font-size: 20px;
}

#heart {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.message_wrap {
  border: 2px solid var(--color-br1);
  border-radius: 20px;
  height: 700px;
  width: 450px;
  position: relative;
  box-sizing: border-box;
}

.message_wrap .message_header {
  background-color: var(--color-gr2);
  border-radius: 20px 20px 0 0;
  height: 50px;
  text-align: center;
  align-content: center;
  font-size: 22px; 
  font-weight: bold;
}

.message_wrap .chat { padding-bottom: 100px; }
.message_wrap .chat ul { width: 100%; list-style: none; }
.message_wrap .chat ul li { width : 100% }
.message_wrap .chat ul li.left { text-align: left; }
.message_wrap .chat ul li.right { text-align: right; }

.message_wrap .chat ul li > div { font-size: 13px;}
.message_wrap .chat ul li > div.sender { 
  margin: 10px 20px 0 20px; 
  font-weight: bold; 
}
.message_wrap .chat ul li > div.message { 
  display: inline-block; 
  word-break: break-all; 
  margin: 5px 20px; 
  max-width: 75%; 
  border:1px solid #888; 
  padding: 10px; 
  border-radius: 5px; 
  background-color: #FCFCFC; 
  color: #555; 
  text-align:left; 
}

.message_wrap .chat {
  overflow-y: auto; /* 세로 스크롤이 필요한 경우 스크롤바 표시 */
  max-height: 600px; 
}

.message_wrap .input { 
  position: absolute; 
  bottom: 0; 
  left:0; 
  width: calc(100% - 4px); 
  padding: 10px; 
  box-sizing: border-box; 
  text-align: center; 
  border-top: 1px solid var(--color-pi); 
}
.message_wrap .input > textarea { 
  width: calc(100% - 50px); 
  height: 80px; 
  border:none; 
  box-sizing: border-box; 
}

.input{
  display: flex;
  flex-direction: row;
}

#sendButton {
  border-radius: 20px;
  margin-left: 10px;
  cursor: pointer; /* 마우스 커서 포인터 모양 */
}


.format {display:none;}

.treeElements img {
  display: none;
}

.tree_img {
  /* border: 2px solid var(--color-br1); */
  margin-left: 50px;
  width: 700px;
  height: 700px;
  position: relative;
}

.earth_half {
  width: 600px;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 100;
}

.sun {
  width: 200px;
  top: 0;
  right: 0;
  position: absolute;
}

.cloud {
  width: 80px;
  top: 130px;
  right: 200px;
  position: absolute;
}

.cloud2 {
  width: 80px;
  top: 50px;
  right: 350px;
  position: absolute;
}

.tree {
  width: 140px;
  bottom: 180px;
  left: 300px;
  position: absolute;
  z-index: 2;
}

.tree2 {
  width: 180px;
  bottom: 170px;
  left: 220px;
  position: absolute;
  z-index: 3;
}

.tree3 {
  width: 160px;
  height: 350px;
  bottom: 180px;
  left: 190px;
  position: absolute;
  z-index: 1;
}

.tree4 {
  width: 120px;
  bottom: 120px;
  left: 70px;
  position: absolute;
  z-index: 3;
}

.tree5 {
  width: 160px;
  height: 350px;
  bottom: 170px;
  left: 140px;
  position: absolute;
  z-index: 2;
}

.tree6 {
  width: 180px;
  bottom: 130px;
  left: 400px;
  position: absolute;
  z-index: 3;
}

.tree7 {
  width: 200px;
  bottom: 150px;
  left: 110px;
  position: absolute;
  z-index: 2;
}

.tree8 {
  width: 180px;
  bottom: 150px;
  left: 350px;
  position: absolute;
  z-index: 1;
}

.tree9 {
  width: 80px;
  bottom: 160px;
  left: 370px;
  position: absolute;
  z-index: 2;
}

.tree10 {
  width: 170px;
  bottom: 130px;
  left: 60px;
  position: absolute;
  z-index: 1;
}